*{

    font-size: 1 rem;
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
}
body, html{
    background-image: url(../images/fondo.jpeg);
}

/*---------------------------------------------- 
SECCIÓN DE NAV, ANIMACIÓN Y FOTO 
------------------------------------------------*/

/*Animación 1*/
.flicker-4{-webkit-animation:flicker-4 4s linear infinite both;animation:flicker-4 4s linear infinite both}

 @-webkit-keyframes flicker-4{0%,100%{opacity:1}31.98%{opacity:1}32%{opacity:0}32.8%{opacity:0}32.82%{opacity:1}34.98%{opacity:1}35%{opacity:0}35.7%{opacity:0}35.72%{opacity:1}36.98%{opacity:1}37%{opacity:0}37.6%{opacity:0}37.62%{opacity:1}67.98%{opacity:1}68%{opacity:0}68.4%{opacity:0}68.42%{opacity:1}95.98%{opacity:1}96%{opacity:0}96.7%{opacity:0}96.72%{opacity:1}98.98%{opacity:1}99%{opacity:0}99.6%{opacity:0}99.62%{opacity:1}}@keyframes flicker-4{0%,100%{opacity:1}31.98%{opacity:1}32%{opacity:0}32.8%{opacity:0}32.82%{opacity:1}34.98%{opacity:1}35%{opacity:0}35.7%{opacity:0}35.72%{opacity:1}36.98%{opacity:1}37%{opacity:0}37.6%{opacity:0}37.62%{opacity:1}67.98%{opacity:1}68%{opacity:0}68.4%{opacity:0}68.42%{opacity:1}95.98%{opacity:1}96%{opacity:0}96.7%{opacity:0}96.72%{opacity:1}98.98%{opacity:1}99%{opacity:0}99.6%{opacity:0}99.62%{opacity:1}}main{
}
.menu, .comienzo{
    background-color: black;
    height: 20vh;
}
/*Nav*/
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
a{
    color: #F30001;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
/*Letras con animación*/
.comienzo{
    text-align: center;
    font-family: 'Sonsie One', cursive;
    -webkit-text-stroke: 1px #E9902A;
}
.comienzo h1, .comienzo h2{
    letter-spacing: 0.5rem;
    font-size: 2rem;  
    background: linear-gradient(darkgreen, DarkSeaGreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*Foto-Perfil*/
.yo{
    width: auto;/*Es el 10% del ancho de la pantalla*/
    height: 20vh;/*Es el 30% del largo de la*/
    border-radius: 50%;
    margin-top: 5vh;
}

/*---------------------------------------------- 
SECCIÓN IMÀGENES (NAVES Y LENGUAJES)
------------------------------------------------*/

.imagenes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 5rem;
}

.imagenes img{
    display: flex;
    justify-self: center;
    height: 25vh;
    width: 20vw;
}
.naves{
    display: flex;
    justify-content: space-evenly;
    margin: 20vh 0vw 5vh 0vw;
}
.naves img{
    width: 4vw;
}

/*---------------------------------------------- 
SECCIÓN SKILLS
------------------------------------------------*/

.skills{
    background-color: #2A2A2A;
    opacity: 50%;
    color: #9C9EAB;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10vh 2vw 5vh 2vw;

}
.skills h2{
    color: #F30001;
    margin-bottom: 2rem;

}

/*box-sizing: border-box --> para que en la medida que le doy me incluya los paddings y borders, no crezca la caja*/

/*---------------------------------------------- 
SECCIÓN DE SALUDO FINAL
------------------------------------------------*/

fieldset input, fieldset textarea{
    background-color: black;
}
.final, .contacto{
    height: 50vh;
    padding: 10vh 2vw 5vh 2vw;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.final .saludo{
    margin: 2rem 0rem 5rem 0rem;
}